<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PTM Group | @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/Plugins/FontAwesome/all.min.css">
    <link rel="stylesheet" href="~/Content/css/Plugins/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/Plugins/MagnificPopUp/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/Plugins/Owl.Carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/Plugins/Owl.Carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/Plugins/Animate/animate.css">
    <link rel="stylesheet" href="~/Content/css/MyCss/normalize.css">
    <link rel="stylesheet" href="~/Content/css/MyCss/style.css">
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/Plugins/FontAwesome/all.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/MyScripts/popper.min.js"></script>
    <script src="~/Scripts/Plugins/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/Plugins/MagnificPopUp/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/Plugins/Owl.Carousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/MyScripts/main.js"></script>
</body>
</html>